* {
    margin: 0;
    padding: 0;
    border: none;
}
::-webkit-scrollbar {
    width: 16px;

}

::-webkit-scrollbar-track {
    background: #FF4343;
}
::-webkit-scrollbar-thumb {
    background: #0A0A0A;
    border-radius: 20px;
}
h1::selection {
    background: orangered;
}
p::selection {
    background: orangered;
}
br::selection {
    background: orangered;
}
span::selection {
    background: orangered;
}










a  {
text-decoration: none;
}
h1::selection {
    background: orangered;
}
p::selection {
    background: orangered;
}
br::selection {
    background: orangered;
}
span::selection {
    background: orangered;
}
body {
    font-family: "Roboto", sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

#header {
    padding: 20px 0;
    position: sticky;
    top: 0;
    width: 100%;
    background: #ffffff;
    z-index: 99;
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.4);

}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: hed 2s ease-in-out;

}
@keyframes hed {
    0% {
        transform: translateY(-700px);
    }
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.header-logo h1 {
    font-weight: 900;
    letter-spacing: 3px;
}

.header-logo a {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.42px;
    color: #000000;
    margin-right: 30px;
}

.header-title a {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.42px;
    color: #000000;
}


#hero {
    background: #100E14;
    min-height: 100vh;
}
.hero  h1    {
    font-weight: 400;
    font-size: 63px;
    line-height: 73px;
    text-align: center;
    letter-spacing: 2.88px;
    color: #FFFFFF;
}
.hero p {
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.42px;
    color: rgba(255, 255, 255, 0.7);
    padding: 50px 0;
}

.hero button {
    width: 281px;
    height: 66px;
    left: calc(50% - 281px/2 + 0.5px);
    top: 232px;
    background: #FF4343;
    border-radius: 8px;
    font-weight: 400;
    font-size: 23px;
    line-height: 26px;
    letter-spacing: 0.42px;
    color: #FFFFFF;
    transition: .4s;
}
.hero button:hover {
    background: transparent;
    border: 2px solid #FF4343;
    transform: scale(0.8);
}
.hero  span {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.42px;
    color: #FFFFFF;
    padding: 40px 0;
}

.hero {
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.hero-img {
    position: relative;
}

.hero-tel {
    position: absolute;
    top: 5px;
    right: 10px;
    animation: tel 3s ease-in-out;
}
@keyframes tel {
    0% {
        transform: translateX(1000px);
    }

}
#shoot {
    padding: 20px 0;
}
#shoot {
    background: #121118;
    min-height: 100vh;
}

.shoot h1 {
    font-weight: 400;
    font-size: 58px;
    line-height: 70px;
    letter-spacing: 1.92px;
    color: #FFFFFF;
    padding-bottom: 30px;
}
.shoot p {
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    letter-spacing: 1.08px;
    color: rgba(255, 255, 255, 0.5);

}

.shoot-img {
    position: relative;

}

.shoot-page {
    position: absolute;
    top: 0;
    left: 320px;
}
.shoot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}

#laim {
    background: #121118;
    min-height: 100vh;
    padding: 50px 0;
}
.laim {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.laim-title h1 {
    font-weight: 400;
    font-size: 58px;
    line-height: 70px;
    letter-spacing: 1.92px;
    color: #FFFFFF;
    padding-bottom: 15px;

}
.laim-title p {
    font-weight: 400;
    font-size: 27px;
    line-height: 38px;
    letter-spacing: 1.08px;
    color: rgba(255, 255, 255, 0.5);
}

.laim-title p span {
    color: white;
}

#elements {
    background: #121118;
    min-height: 100vh;
}
.elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.elements-title h1 {
    font-weight: 400;
    font-size: 54px;
    line-height: 70px;
    letter-spacing: 3.2px;
    color: #FFFFFF;
    padding: 20px 0;
}
.elements-title p {
    font-weight: 400;
    font-size: 27px;
    line-height: 38px;
    letter-spacing: 1.08px;
    color: rgba(255, 255, 255, 0.5);
}
 .elements-title span {
     color: white;
 }

#link {
    background: #121118;
    min-height: 100vh;
    padding: 20px 0;
}
.link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.link-title h1 {
    font-weight: 400;
    font-size: 58px;
    line-height: 70px;
    letter-spacing: 1.92px;
    color: #FFFFFF;
    padding: 35px 0;
}
.link-title p {
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 1.08px;
    color: rgba(255, 255, 255, 0.5);
}
.link-title p span {
    color: white;
}

#blocks {
    background: #121118;
    min-height: 100vh;
    padding: 20px 0;

}
.blocks {

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.blocks  h1 {
    font-weight: 400;
    font-size: 61px;
    line-height: 10px;
    text-align: center;
    letter-spacing: 2.56px;
    color: #FFFFFF;
}

.line {
    width: 120px;
    height: 5px;
    background: #FF4343;
    margin: 20px 0;

}


.blocks  p {
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.42px;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 60px;
}

.card-title h1  {
    font-weight: 400;
    font-size: 29px;
    line-height: 35px;
    letter-spacing: 0.42px;
    color: #FFFFFF;
    padding-bottom: 15px;
}

.card-title p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.42px;
    color: #FFFFFF;
}

.card  {
    position: relative;
}

.card-title {
    position: absolute;
    bottom: 30px;
    left: 40px;
    background: rgba(16, 14, 20, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 6px;
}

.block {
    display: flex;
    align-items: center;
    justify-content: center;
}


.swiper {
    width: 300px;
    height: 300px;
    padding: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 251px;
    height: 452px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}
#users {
    background: #121118;
}
.users span {
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.42px;
    color: #8BFFB0;
}
.users h1 {
    font-weight: 400;
    font-size: 58px;
    line-height: 83px;
    text-align: center;
    letter-spacing: 1.92px;
    color: #FFFFFF;
    padding: 50px 0;
}

.users p {
    font-weight: 400;
    font-size: 27px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.42px;
    color: rgba(255, 255, 255, 0.5);
}
.users {
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.users-img {
    animation: user 2s infinite ease-in-out;
}
@keyframes user {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

#will {
    height: 433px;
    min-height: 100vh;
    background: #1D1B24;
}
 .will h1 {
     font-weight: 400;
     font-size: 63px;
     line-height: 91px;
     text-align: center;
     letter-spacing: 2.1px;
     color: #FFFFFF;
 }

.will p {
    font-weight: 400;
    font-size: 27px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.42px;
    color: rgba(255, 255, 255, 0.7);
}

.will button {
    width: 281px;
    height: 66px;
    background: #FF4343;
    font-weight: 400;
    font-size: 23px;
    line-height: 26px;
    letter-spacing: 0.42px;
    color: #FFFFFF;
}

.will {
    height: 433px;
    width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 80px 0;
}
.will button {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
}
.will button:hover {
    background: transparent;
    border: 2px solid #FF4343;
    transform: scale(0.8);
}
#tel {

    background: #121118;
}
.tel {
    display: flex;
    align-items: center;
    justify-content: center;
}
.tel img {
    width: 300%;
}

#nova {
    background: #0A0A0A;
}
.nova-youtube {
    display: flex;
    align-items: flex-start;
}
.nova-title h1 {
    font-weight: 400;
    font-size: 19px;
    line-height: 20px;
    letter-spacing: 0.42px;
    color: #FFFFFF;
    padding-bottom: 10px;
}
.nova-youtube p {
    padding-top: 5px;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.42px;
    color: #FFFFFF;
    margin-left: 10px;
}
.nova-youtube a {
    font-size: 28px;
    color: white;
}
.nova-img {
    position: relative;
}
.nova-title {
    position: absolute;
    bottom: 15px;
    left: 20px;
}
.nova-card  {
    position: relative;
    width: 290px;
    height: 449px;
    background: #8BFFB0;
    padding: 0 20px;

}
.nova {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nova-left {
    display: flex;
    align-items: flex-end;
    margin-right: 70px;
}
.nova-text {
    font-weight: 400;
    font-size: 58px;
    letter-spacing: 1.92px;
    color: #FFFFFF;
    padding: 80px 0;
}
.nova-right {
    display: flex;
    align-items: flex-end;
}

.nova-card h2 {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.24px;
    text-transform: uppercase;
    color: #95FEC1;
    padding: 20px 0;
}
.nova-card h1 {
    font-weight: 400;
    font-size: 29px;
    letter-spacing: 0.42px;
    color: #FFFFFF;
    padding-bottom: 20px;
}
.nova-card-signup {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}
.nova-card p {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.42px;
    color: #FFFFFF;
}
 .nova-card-signup {
     font-weight: 400;
     font-size: 19px;
     line-height: 20px;
     letter-spacing: 0.6px;
     color: #FFFFFF;
 }

.nova-card-signup a {
    margin-left: 10px;
    padding-top: 15px;
    color: white;
    font-size: 28px;
}

#footer {
    background: #1D1B24;
    padding: 90px 0;
}

.footer-title h1 {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.18px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.footer-title p {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.16px;
    color: #FFFFFF;
    padding: 10px 0;
}

.footer {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.footer-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;

}
.footer-icon a {
    font-size: 30px;
    color: white;
}

#signin {
    background: #1D1B24;
}
.signin {
    width: 1140px;
    min-height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;

}

.signin h3 {
    font-size: 28px;
    color: white;
    font-weight: 100;
}
.signin h1 {
    padding: 50px 0;
    font-size: 80px;
    color: white;
    font-weight: 500;
}
.signin input {
    margin-bottom: 70px;
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
    width: 390px;
    height: 40px;
    color: white;
    font-size: 18px;
}
.signin input::placeholder {
    text-align: start;
    color: white;
   text-transform: uppercase;
}

.signin button {
    padding: 10px 40px;
    background: #FF4343;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    transition: .4s;
}
.signin button:hover {
    background: transparent;
    border: 2px solid #FF4343;
    transform: scale(0.7);
}













